/* CSS for styling the page */
body {
    font-family: Arial, sans-serif;
    margin-top: 25px;
    padding: 0; 
  
    background-size: cover; /* 이미지가 전체 화면에 맞게 조정됩니다. */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom; /* 이미지를 가운데로 정렬합니다. */
}
.body background

.image-container img {
    width: 100%; /* 이미지의 가로 폭을 100%로 설정하여 전체 화면으로 확장합니다. */
    height: auto;
    display: block;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
}

.upload-section {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    text-align: center; /* Center horizontally */
    justify-content: center; /* Center horizontally (added) */
}

/* Adjust to make the file input field visible */
.upload-section input[type="file"] {
    display: inline-block; /* Change from none to inline-block */
}

.upload-section label {
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.upload-section label:hover {
    background-color: #2980b9;
}

.detected-objects-section {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 800px; /* 추가된 부분 */
    margin: 0 auto; /* 추가된 부분 */
}


.detected-objects-section h2 {
    font-size: 24px; /* 변경된 부분 */
    color: #333;
}


.detected-objects-section ul {
    list-style-type: none;
    padding: 0;
}

.detected-objects-section li {
    font-size: 18px;
    color: #333;
}

.uploaded-image {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}
